body {
    padding-top: 50px;
}

@media (max-width: 525px) {
    body {
        padding-top: 100px;
    }
}

@media (max-width: 388px) {
    body {
        padding-top: 160px;
    }
}

@media (max-width: 236px) {
    body {
        padding-top: 200px;
    }
}

