.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.idea
.idea/
.vscode/*
*.pyc
__pycache__/
*.py[cod]
*$py.class
lyceum/media/

# Django stuff:
*.log
local_settings.py
# db.sqlite3
# db.sqlite3-journal

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# locale
*.mo