{% extends 'base.html' %}

{% block title %}
	О проекте
{% endblock %}

{% block content %}
	<section class="container">
		<div class="row justify-content-center">
			<header class="mb-5 col-12 text-center pb-5">
				<h1 class="h1">О проекте Lyceum</h1>
			</header>
			<h2 class="col-12 text-center text-dark-emphasis mb-5 pb-5">Lorem ipsum dolor sit amet</h2>
			<ul class="row col-12 justify-content-center list-group-horizontal">
				<li class="col-lg-3 col-sm-10">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aspernatur debitis dolores eaque est ex illo in ipsum Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aperiam asperiores deserunt esse fuga harum quo sint? A atque dolor doloribus, dolorum ipsa modi, nobis optio pariatur quae ut voluptate?</p>
				</li>
				<li class="col-lg-3 col-sm-10">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aspernatur debitis dolores eaque est ex illo in ipsum Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam architecto illum ipsum laudantium nulla odio officia, officiis pariatur qui saepe? Aspernatur assumenda dolor, dolores fugit incidunt omnis quis quod. Repellendus!</p>
				</li>
				<li class="col-lg-3 col-sm-10">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aspernatur debitis dolores eaque est ex illo in ipsum Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis, fugit iure laudantium odio quos sed. Ad assumenda at culpa deserunt, eius eos exercitationem iure laboriosam minus, molestias sequi sit suscipit?</p>
				</li>
			</ul>
		</div>
	</section>
{% endblock %}