{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}
	Сбросить
{% endblock %}

{% block content %}
	<div class="container">
    <h1 class="h1">Сбросить пароль</h1>
    {% if form.errors %}
    	{% for field in form %}
    		{% for error in field.errors %}
    			{{ error|escape }}
    		{% endfor %}
    	{% endfor %}
    {% for error in form.non_field_errors %}
    	{{ error|escape }}
    {% endfor %}
    {% endif %}
    <form method="post" action="{% url 'users:password_reset_done' %}">
      {% csrf_token %}
      {% for field in form %}
        <label class="col-form-label-lg" for="{{ field.id_for_label }}">
          {{ field.label }}
          {% if field.field.required %}
            <span>*</span>
          {% endif %}
        </label>
        {{ field|add_class:"form-control mb-3" }}
        {% if field.help_text %}
          <small id="{{ filed.id_for_label }}-help">
            {{ field.help_text|safe }}
          </small>
        {% endif %}
      {% endfor %}
      <button type="submit" class="btn btn-primary mt-3">Подтвердить</button>
    </form>
  </div>
{% endblock %}