{% extends 'base.html' %}

{% block title %}
	Список пользователей
{% endblock %}

{% block content %}
	<div class="container">
    <h2 class="mt-5 mb-5 text-center">Список пользователей</h2>
    <ul class="list-group list-group-horizontal w-100">
      <li class="list-group-item fw-bold w-100">Имя пользователя</li>
      <li class="list-group-item fw-bold w-100">Дата рождения</li>
      <li class="list-group-item fw-bold w-100">Фотография</li>
    </ul>
    {% for user in users %}
    	<ul class="list-group list-group-horizontal w-100">
        <li class="list-group-item w-100">{{ user.username }}</li>
        <li class="list-group-item w-100">{{ user.profile.birthday.day }} {{ user.profile.birthday | date:"M" }}</li>
        <li class="list-group-item w-100"><img src="{% if user.profile.image %}{{ user.profile.get_image_50x50.url }}{% endif %}" alt="нет фотографии"></li>
      </ul>
    {% endfor %}
  </div>
{% endblock %}