<!DOCTYPE html>
{% load i18n %}
{% load static %}
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Untitled{% endblock %}</title>
    <link rel="icon" href="{% static 'img/favicon/favicon.ico' %}" type="image">
    <link rel="shortcut icon" href="{% static 'img/favicon/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" sizes="16x16" href="{% static 'img/favicon/favicon-16x16.png' %}" type="image/png">
    <link rel="icon" sizes="32x32" href="{% static 'img/favicon/favicon-32x32.png' %}" type="image/png">
    <link rel="icon" sizes="48x48" href="{% static 'img/favicon/favicon-48x48.png' %}" type="image/png">
    <link rel="icon" sizes="96x96" href="{% static 'img/favicon/favicon-96x96.png' %}" type="image/png">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon/apple-touch-icon.png' %}">
    <link rel="manifest" href="{% static 'img/favicon/site.webmanifest' %}"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/headers.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/jquery.slim.min.js' %}"></script>
  </head>
  <body>
    {% include 'includes/header.html' %}
    <div class="container">
      <div class="alert alert-info birthday-banner mt-3">
        <h5 class="alert-heading">Сегодня день рождения у:</h5>
        <ul class="list-unstyled mb-0">
          {% for user in birthday_users %}
            <li class="d-flex align-items-center">
              <i class="bi bi-gift-fill text-primary me-2"></i>
              <span class="fw-bold">🎁{{ user.username }}</span>
              <span class="ms-auto">
                <a href="mailto:{{ user.email }}" class="text-decoration-none">
                  <i class="bi bi-envelope-fill text-secondary"></i> {{ user.email }}
                </a>
              </span>
            </li>
          {% empty %}
              <li>Сегодня именинников нет!</li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <main class="mt-5">
      {% block content %}Контент не подвезли:({% endblock %}
    </main>
    {% include 'includes/footer.html' %}
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
</html>