.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle {
  outline: 0;
}

.header-logo-label {
  margin-left: 20px;
}

.menu-icon {
  margin-top: -5px;
}

.menu-button:hover .menu-icon {
  fill: white;
  transition: fill .15s ease-in-out;
}
