body {
    padding-top: 80px;
}

@media (max-width: 768px) {
  body {
    padding-bottom: 25px;
  }
}

.text-fade {
  position: relative;
  width: 100%;
  max-width: 300px;
  height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-fade::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 100%;
  background: linear-gradient(to left, white, rgba(255, 255, 255, 0));
}

.btn-buy {
  background-color: #FE9900;
}

.btn-buy:hover{
  background-color: #ea8b00;
}

