{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}
	{{ item.name }}
{% endblock %}
{% block content %}
	<div class="container">
    <div class="card mb-3 shadow-lg">
      <div class="row g-0">
        <div class="col-md-5">
          <div id="carouselImages" class="carousel slide img-fluid rounded-start" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active pb-3">
                <div class="d-flex flex-column gap-3" data-bs-slide-to="0">
                  <img src="{{ item.main_image.get_image_600x600.url }}" class="d-block w-100" alt="..."/>
                  {% if item.main_image %}
                    <a href="{% url 'download:file' item.main_image.image %}"  class="d-block w-50 btn btn-outline-dark align-self-center">
                      {% translate "Download image" %}
                    </a>
                  {% endif %}
                </div>
              </div>
              {% for image in item.images.all %}
              <div class="carousel-item pb-3">
                <div class="d-flex flex-column gap-3" data-bs-slide-to="{{ forloop.counter }}">
                  <img src="{{ image.get_image_600x600.url }}" class="d-block w-100" alt="...">
                  <a href="{% url 'download:file' image.image %}"  class="d-block w-50 btn btn-outline-dark align-self-center">
                      {% translate "Download image" %}
                  </a>
                </div>
              </div>
              {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button bg-dark" data-bs-target="#carouselImages" data-bs-slide="prev">
              <span class="carousel-control-prev-icon bg-dark rounded-3" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button bg-dark" data-bs-target="#carouselImages" data-bs-slide="next">
              <span class="carousel-control-next-icon bg-dark rounded-3" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <div class="col-md-7">
          <div class="card-body">
            <h4 class="card-title d-flex justify-content-between gap-2"><span>{{ item.name }}</span><span class="text-nowrap">{{ item.price }} &#8381</span></h4>
            <p class="card-subtitle"><span class="badge bg-secondary text-capitalize">{{ item.category.name }}</span></p>
            <p class="card-subtitle">
              {% for tag in item.tags.all %}
                <span class="badge bg-light text-dark">{{ tag.name }}</span>
              {% endfor %}
            </p>
            <p class="card-text">{{ item.text | safe }}</p>
            <div class="border-dark-subtle border-bottom"></div>
            <h4 class="h4 text-center mt-3">Оценка товара</h4>
            <div class="d-flex gap-3 mt-3 mb-2 align-items-stretch">
              {% if request.user.is_authenticated %}
                {% if user_rating %}
                  <h5 class="text h5">Ваша оценка: <strong>{{ user_rating }} / 5</strong></h5>
                  <span class="text text-dark-emphasis">|</span>
                {% endif %}
              {% endif %}
              <h5 class="text h5">Средняя оценка: <strong>{{ ratings_stats.average | floatformat:1 | default:"Нет оценок" }} / 5</strong></h5>
              <span class="text text-dark-emphasis">|</span>
              <h5 class="text h5">Количество оценок: <strong>{{ ratings_stats.count | default:"Нет оценок" }}</strong></h5>
            </div>
            {% if request.user.is_authenticated %}
              <form method="post" action="">
                {% csrf_token %}
                {% for field in rating_form %}
                  <br>
                  {{ field }}
                  <br>
                {% endfor %}
                <button class="btn btn-secondary mt-3" type="submit">Отправить оценку</button>
                <a class="btn btn-outline-danger mt-3" href="{% url 'rating:delete' item.id %}">Удалить оценку</a>
              </form>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}