{% extends 'base.html' %}

{% block title %}
	Эхо форма
{% endblock %}

{% block content %}
  <section>
    <div class="container">
      <h1 class="h1 mt-3 mb-4">Эхо форма</h1>
      <form method="post" action="{% url 'homepage:echo_submit' %}">
        {% csrf_token %}
        {% with form=echo_form %}
        	{% include 'includes/form.html' %}
        {% endwith %}
        <button type="submit" class="btn btn-outline-primary">Отправить</button>
      </form>
    </div>
  </section>
{% endblock %}