{% extends "base.html" %}
{% load static %}

{% block title %}
	Главная страница
{% endblock %}
{% block content %}
	<div class="container d-flex justify-content-center flex-column">
		<h1 class="mb-5 text-center">Это главная страница</h1>
		<h2 class="h2 mb-5 mt-5 text-center">
			Мы рекомендуем
		</h2>
		<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4 mb-5">
			{% include 'includes/item_card.html' %}
		</div>
		<a class="btn-dark btn align-self-center mt-4" href="{% url 'catalog:item_list' %}">
			Перейти в каталог
		</a>
	</div>
{% endblock %}