{% extends "base.html" %}
{% load static %}

{% block title %}
	Главная страница
{% endblock %}
{% block content %}
	<div class="container d-flex justify-content-center flex-column">
		<h1 class="mb-5 text-center">Это главная страница</h1>
		<h2 class="h2 mb-5 mt-5 text-center">
			Мы рекомендуем
		</h2>
		<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4 justify-content-xl-center">
			{% for item in items %}
				{% include 'includes/item_card.html' %}
			{% empty %}
				<p class="text-center">Список товаров пуст...</p>
			{% endfor %}
		</div>
		<a class="btn-dark btn align-self-center w-25 mt-5" href="{% url 'catalog:item_list' %}">
			Перейти в каталог
		</a>
	</div>
{% endblock %}